:root {
  --primary-color: #34c3eb;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.bg-primary-color {
  background-color: var(--info);
}
.navbar-nav a {
  color: #555555;
}
.navbar-nav a.active,
.navbar-nav a:hover {
  color: #ffffff !important;
  text-decoration: none;
}
@media only screen and (max-width: 800px) {
  .bg-primary-color {
    text-align: center;
  }
  .navbar-light .collapsed .navbar-toggler-icon {
    background-image: url("./svg/menu.svg") !important;
  }
  .navbar-light .navbar-toggler-icon {
    width: 25px;
    background-image: url("./svg/close.svg") !important;
  }
  .navbar-light .navbar-toggler {
    background-color: var(--info);
    border-radius: 0px;
    position: absolute;
    right: 20px;
    top: 0px;
    padding-top: 30px;
    border: none;
  }
  .box-shadow {
    box-shadow: 5px 10px 18px #999999;
  }
  .navbar {
    top: -15px;
  }
  .home {
    margin-top: 20px;
  }
  .p-2 {
    padding: 0.7rem !important;
  }
}
